<h1>Create A New Cat!</h1>

<form action="<%= cats_url %>" method="POST">

    <label for="cat_name">Name:</label>
    <input type="text" name="cat[name]" id="cat_name">

    <br>
    <br>

    <label for="cat_birthdate">Birthdate</label>
    <input type="date" name="cat[birthdate]" id="cat_birthdate">

    <h4>Sex:</h4>
    <label for="cat_sex_male">Male</label>
    <input type="radio" name="cat[sex]" id="cat_sex_male" value="M">

    <label for="cat_sex_female">Female</label>
    <input type="radio" name="cat[sex]" id="cat_sex_female" value="F">

    <br>
    <br>

    <label for="cat_color">Color:</label>
    <select name="cat[color]" id="cat_color">
        <option disabled selected>--Select a color--</option>
        <% @allowed_colors.each do |color| %>
            <option value="<%= color %>"><%= color.capitalize %></option>
        <% end %>
    </select>

    <br>
    <br>

    <label for="cat_description">Description:</label>
    <textarea name="cat[description]" id="cat_description" cols="30" rows="10"></textarea>

    <br>
    <br>

    <button type="submit">Create Cat</button>

</form>